<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
    <title>Coding Challenge</title>
   

    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"> </script>
    <link href="css/style.css" rel="stylesheet">
  
   <script src="js/app.js"></script>
   
  </head>
  <body ng-app="starter">
    <div style="margin-top:10px"class="padding-left padding-right"ng-controller="SecureController">
      <form><div class="list">
  <label class="item item-input">
          <input type="text" placeholder="Enter the text"  ng-model="search" />
        </label>
      </div>

      <button class="button button-positive"ng-click="searchreddit()">Search</button></form>
    <div class="card" ng-repeat="item in children">
      <div class="item item-divider">
   <a target="_blank"ng-href="http://www.reddit.com/{{item.data.permalink}}"<h1>{{item.data.title}}<a></h1>
  </div>
   <div class="item item-text-wrap">
    {{item.data.selftext|limitTo:500 }}...
  </div>
</div>
 
 </div>

    </body>
    </html>